META_PIXEL_ID=seu_pixel_id_aqui
META_ACCESS_TOKEN=seu_token_de_acesso_aqui
META_TEST_EVENT_CODE=
META_GRAPH_VERSION=v23.0

LINKEDIN_ACCESS_TOKEN=seu_token_de_acesso_aqui
LINKEDIN_API_VERSION=202604
LINKEDIN_AD_ACCOUNT_ID=id_da_conta_de_anuncios
LINKEDIN_CONVERSION_ID=id_da_conversao
LINKEDIN_CONVERSION_NAME=Pre-MBA Lead
LINKEDIN_ADMIN_SECRET=um_segredo_para_criar_conversoes
LINKEDIN_AUTO_ASSOCIATION_TYPE=ALL_CAMPAIGNS

ACTIVE_CAMPAIGN_BASE_URL=https://sua-conta.api-us1.com
ACTIVE_CAMPAIGN_API_KEY=sua_chave_api_aqui
ACTIVE_CAMPAIGN_LIST_ID=id_da_lista
ACTIVE_CAMPAIGN_TAG_NAME=palestra-gestec
ACTIVE_CAMPAIGN_TAG_DESCRIPTION=Inscritos na palestra do Pre-MBA Gestao Comercial e Salestech.

# Opcional: IDs de campos personalizados no ActiveCampaign
ACTIVE_CAMPAIGN_FIELD_CIDADE_ID=
ACTIVE_CAMPAIGN_FIELD_AREA_FORMACAO_ID=
ACTIVE_CAMPAIGN_FIELD_EMPRESA_ID=
ACTIVE_CAMPAIGN_FIELD_CARGO_ID=
ACTIVE_CAMPAIGN_FIELD_FORMACAO_SUPERIOR_ID=
ACTIVE_CAMPAIGN_FIELD_PRETENDE_POS_ID=
ACTIVE_CAMPAIGN_FIELD_ORIGEM_ID=
ACTIVE_CAMPAIGN_FIELD_URL_ORIGEM_ID=

# Ploomes CRM
PLOOMES_BASE_URL=https://public-api2.ploomes.com
PLOOMES_USER_KEY=sua_user_key_aqui
PLOOMES_DEAL_PIPELINE_ID=50003849
PLOOMES_DEAL_STAGE_ID=50018646
PLOOMES_DEAL_STATUS_ID=
PLOOMES_DEAL_AMOUNT=0
PLOOMES_OWNER_ID=
PLOOMES_CONTACT_TYPE_ID=2
PLOOMES_PHONE_TYPE_ID=
PLOOMES_CONTACT_ORIGIN_ID=
PLOOMES_DEAL_ORIGIN_ID=
PLOOMES_CURRENCY_ID=
PLOOMES_INTERACTION_TYPE_ID=

# FieldKeys do funil Comunicacao - Palestras Presenciais
PLOOMES_DEAL_FIELD_EMPRESA_PARCEIRA_BOOL_KEY=deal_A16F671F-24DA-464F-96E3-E2EB61F3CEFD
PLOOMES_DEAL_FIELD_EMPRESA_PARCEIRA_KEY=deal_EB1DC267-3055-4B48-A511-B431F20827C2
PLOOMES_DEAL_FIELD_GRADUACAO_KEY=deal_C4A0DCDB-A9E7-4CD3-A52A-4BF2D093072A
PLOOMES_DEAL_FIELD_PRETENDE_MBA_BOOL_KEY=deal_D78C31F7-513B-4AF0-9987-62E450A9A919
PLOOMES_DEAL_FIELD_QUANDO_INICIAR_MBA_KEY=deal_1EFEF33D-8A73-451F-97F6-F91ADBDCD3A2
PLOOMES_DEAL_OPTION_MBA_IMEDIATAMENTE_ID=28150
PLOOMES_DEAL_OPTION_MBA_DEPOIS_ID=28148
PLOOMES_DEAL_OPTION_MBA_NAO_ID=28145
PLOOMES_DEAL_FIELD_INTERESSE_CLIENTE_KEY=deal_137A27CD-8B03-4F38-9346-B3A1C48BC8D0
PLOOMES_DEAL_OPTION_INTERESSE_MBA_ID=389099

# Opcional: FieldKeys de campos personalizados do Ploomes no negocio
PLOOMES_DEAL_FIELD_NOME_KEY=
PLOOMES_DEAL_FIELD_EMAIL_KEY=
PLOOMES_DEAL_FIELD_TELEFONE_KEY=
PLOOMES_DEAL_FIELD_CIDADE_KEY=deal_0FF41F39-ED90-4803-8B2F-DFD455D57F20
PLOOMES_DEAL_FIELD_AREA_FORMACAO_KEY=deal_50A4D1E5-2D70-4C33-9723-CEA009E25F26
PLOOMES_DEAL_FIELD_EMPRESA_KEY=deal_8F7621D9-E74F-4402-BB88-D62EF9393394
PLOOMES_DEAL_FIELD_CARGO_KEY=deal_DAF0E02D-E986-43E3-A98E-2BC89614BB43
PLOOMES_DEAL_FIELD_FORMACAO_SUPERIOR_KEY=
PLOOMES_DEAL_FIELD_PRETENDE_POS_KEY=
PLOOMES_DEAL_FIELD_ORIGEM_KEY=
PLOOMES_DEAL_FIELD_URL_ORIGEM_KEY=
PLOOMES_DEAL_FIELD_UTM_SOURCE_KEY=deal_7A169C7F-9F22-46B5-B819-A72A8BD65417
PLOOMES_DEAL_FIELD_UTM_SOURCE_LEGACY_KEY=deal_266CBA68-5C53-4B9A-82C1-498C62CAC754
PLOOMES_DEAL_FIELD_UTM_MEDIUM_KEY=deal_2C195DB6-D4F7-4626-A6B0-5451CFDAD0E3
PLOOMES_DEAL_FIELD_UTM_CAMPAIGN_KEY=deal_812DEE6E-A61E-4987-B09B-57365A8C6437
PLOOMES_DEAL_FIELD_UTM_CAMPAIGN_LEGACY_KEY=deal_D2CE4181-14B7-414C-85F8-D522DC12BD2E
PLOOMES_DEAL_FIELD_UTM_TERM_KEY=
PLOOMES_DEAL_FIELD_UTM_CONTENT_KEY=deal_983E5B92-501D-4074-840B-0B22BDD5A987
PLOOMES_DEAL_FIELD_UTM_SUMMARY_KEY=deal_1B9FDED4-84A6-4617-A860-6919EBC920D7

# Opcional: FieldKeys de campos personalizados do Ploomes no contato
PLOOMES_CONTACT_FIELD_CIDADE_KEY=
PLOOMES_CONTACT_FIELD_AREA_FORMACAO_KEY=
PLOOMES_CONTACT_FIELD_EMPRESA_KEY=
PLOOMES_CONTACT_FIELD_CARGO_KEY=
PLOOMES_CONTACT_FIELD_FORMACAO_SUPERIOR_KEY=
PLOOMES_CONTACT_FIELD_PRETENDE_POS_KEY=
PLOOMES_CONTACT_FIELD_ORIGEM_KEY=
PLOOMES_CONTACT_FIELD_URL_ORIGEM_KEY=
