META_PIXEL_ID=seu_pixel_id_aqui
META_ACCESS_TOKEN=seu_token_de_acesso_aqui
META_TEST_EVENT_CODE=
META_GRAPH_VERSION=v23.0

ACTIVE_CAMPAIGN_BASE_URL=https://sua-conta.api-us1.com
ACTIVE_CAMPAIGN_API_KEY=sua_chave_api_aqui
ACTIVE_CAMPAIGN_LIST_ID=id_da_lista
ACTIVE_CAMPAIGN_TAG_NAME=palestra-gestec
ACTIVE_CAMPAIGN_TAG_DESCRIPTION=Inscritos na palestra do Pre-MBA Gestao Comercial e Salestech.

# Opcional: IDs de campos personalizados no ActiveCampaign
ACTIVE_CAMPAIGN_FIELD_CIDADE_ID=
ACTIVE_CAMPAIGN_FIELD_AREA_FORMACAO_ID=
ACTIVE_CAMPAIGN_FIELD_EMPRESA_ID=
ACTIVE_CAMPAIGN_FIELD_CARGO_ID=
ACTIVE_CAMPAIGN_FIELD_FORMACAO_SUPERIOR_ID=
ACTIVE_CAMPAIGN_FIELD_PRETENDE_POS_ID=
ACTIVE_CAMPAIGN_FIELD_ORIGEM_ID=
ACTIVE_CAMPAIGN_FIELD_URL_ORIGEM_ID=
